body {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.container {
    width: 50%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}

.canvas-container {
    width: 100%;
    height: 600px;
    border-radius: 5px;
    border: 1px solid black;
    left: 50%;
    overflow: scroll;
}
/* .canvas-container:hover {
    overflow: scroll;
} */

h1 {
    font-family: sans-serif;
    text-align: center;
    width: 100%;
}

.canvas-controls {
    text-align: center;
    width: 100%;
}

input[type='button'] {
    height: 35px;
    vertical-align: middle;
    width: 100px;
}

.red-button {
    background: #f00;
}

.green-button {
    background: #0f0;
}

.blue-button {
    background: #00f;
}

.black-button {
    background: #000;
}
