body {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

draw-canvas {
    border-radius: 5px;
    border: 1px solid black;
    left: 50%;
    position: absolute;
    transform: translate(-50%, 0);
}

h1 {
    font-family: sans-serif;
    text-align: center;
    width: 100%;
}

.canvas-controls {
    position: absolute;
    top: 700px;
    text-align: center;
    width: 100%;
}

input[type='button'] {
    vertical-align: middle;
}

.red-button {
    background: #f00;
}

.green-button {
    background: #0f0;
}

.blue-button {
    background: #00f;
}

.black-button {
    background: #000;
}
