draw-canvas {
    border-radius: 5px;
    border: 1px solid black;
    left: 50%;
    position: absolute;
    transform: translate(-50%, 0);
}

h1 {
    font-family: sans-serif;
    text-align: center;
    width: 100%;
}
